<div class="page-margin">
	<h3>Press Releases</h3>
	 <div> 
	    <ul>
	        <li class="item-info" ng-repeat="release in pressReleases">
	        	<div id="slide">
	        		<div class="headline" ng-click="more(story.id)">{{release.headline}}</div>
				    <div id="slide-body">
				    	<div class="details">{{release.date}} - {{release.location}}</div>
				    	<button class="btn btn-info btn-save" id="save" ng-click="saveRelease(release.id)">Save to Calender</button>
				    </div>
				    <!-- <div style="font-size: 12px;" id="save" ng-click="saveRelease(release.id)">Save to Calender</div> -->
				</div>
				<!-- <div>
	 				<button class="btn btn-info btn-save" id="save" ng-click="saveRelease(release.id)">Save to Calender</button>
	 			</div> -->
	        </li>
	    </ul>
	</div>
 </div>
