<div class="page-margin">
	<h3>Stories</h3>
 	<div> 
	    <ul>
	        <li class="item-info" ng-repeat="story in stories">
	        	<div id="slide">
	        		<div class="headline" ng-click="more(story.id)">{{story.headline}}</div>
				    <div id="slide-body">
				    	<div class="details">{{story.details}}</div>
				    	<button class="btn btn-info btn-save" id="more" ng-click="more(story.id)">More...</button>
				    </div>
				    <!-- <div style="font-size: 12px; float:right;" id="more" ng-click="more(story.id)">more...</div> -->
				</div>
	        </li>
	    </ul>
	</div>
</div>
